.add-book-container {
  width: 20%;
}
.cards {
  display: grid;
  grid-template-columns: .3fr;
  gap: 4em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 20em));
}
.card {
  border: 2px solid black;
}